{:deps
 {thheller/shadow-cljs {:mvn/version "2.16.8"}
  binaryage/devtools {:mvn/version "1.0.3"}
  nrepl/nrepl {:mvn/version "0.8.3"}
  integrant/integrant {:mvn/version "0.8.0"}
  reagent/reagent {:mvn/version "1.1.0"}
  datascript/datascript {:mvn/version "1.3.2"}
  denistakeda/posh {:mvn/version "0.5.9"}}
 
 :paths ["src/main" "src/test"]}

