{:deps
 {thheller/shadow-cljs {:mvn/version "2.16.8"}
  binaryage/devtools {:mvn/version "1.0.3"}
  applied-science/js-interop {:mvn/version "0.3.1"}
  cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
  nrepl/nrepl {:mvn/version "0.8.3"}
  medley/medley {:mvn/version "1.3.0"}
  integrant/integrant {:mvn/version "0.8.0"}
  denistakeda/posh {:mvn/version "0.5.9"}
  datascript/datascript {:mvn/version "1.3.2"}
  datascript-transit/datascript-transit {:mvn/version "0.3.0"}
  metosin/reitit {:mvn/version "0.5.15"}
  pez/clerk {:mvn/version "1.0.0"}
  venantius/accountant {:mvn/version "0.2.5"}
  reagent/reagent {:mvn/version "1.1.0"}
  funcool/promesa {:mvn/version "9.2.541"}}
 
 :paths ["src/main" "src/test" "src/demo"]}

